Q1.Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list 
insert apple in the 5th position of a variable ‘a’
Remove last item from the list

In [8]:
l = [2, 3, 4, 5, 6, 7]
l.append("mango")
l.extend(["banana", "grapes", "orange"])
l.insert(5, "a")
l.pop()

print(l)

[2, 3, 4, 5, 6, 'a', 7, 'mango', 'banana', 'grapes']

Q2.
L = [1,2,3,4,5,6,7]
Using the above list slice from 1:4

In [10]:
L = [1, 2, 3, 4, 5, 6, 7]
L[1:4]

[2, 3, 4]

Q3.Reverse the order of given string L = [4,5,6,8,3]

In [13]:
l = [4, 5, 6, 8, 3]
l.reverse()
print(l)

[3, 8, 6, 5, 4]

Q4.Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [19]:
l = [2, 4, 7, 3, 6, 8]
l1 = [ i**2 for i in l]
print(l1)

[4, 16, 49, 9, 36, 64]

Q5.Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [22]:
def s_tuple( *integers):
    return sum(*integers)

s1_tuple = (9, 2, 4, 6)
print(s_tuple(s1_tuple))

21

Q6.Create two sets of your favorite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.

In [23]:
s1 = {"mango", "grapes", "apple"}
s2 = {"papaya", "orange", "kiwi"}

print(s1 | s2)

{'orange', 'mango', 'papaya', 'kiwi', 'apple', 'grapes'}

Q7.Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [24]:
s1 = {"books", "pencils", "paper", "boxes"}
s1.add("phone")
print(s1)

{'phone', 'pencils', 'books', 'boxes', 'paper'}

Q8.Create a set of your favorite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.

In [25]:
s1 = {"cat", "dog", "camel", "sheep"}
s1.remove("cat")
print(s1)

{'camel', 'sheep', 'dog'}

Q9.favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
      favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
      Use the zip() function to combine the book set and movie list into a list of tuples representing book/movie pairs. 
      Print the resulting list.

In [26]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
my_list = list(zip(favorite_books , favorite_movies))
print(my_list)

[('1984', 'The Shawshank Redemption'), ('Pride and Prejudice', 'The Godfather'), ('To Kill a Mockingbird', 'The Dark Knight')]

Q10.Write a Python program to find the difference between consecutive numbers in a list.

In [48]:
test_list = [1, 4, 5, 3, 6]
 
# printing original list
print ("The original list is : " + str(test_list))
 
# using zip()
# generate successive difference list
res = [j - i for i, j in zip(test_list[: -1], test_list[1 :])]
 
# printing result
print ("The computed successive difference list is : " + str(res))

The original list is : [1, 4, 5, 3, 6]
The computed successive difference list is : [3, 1, -2, 3]